---
Checks: 'clang-diagnostic-*,clang-analyzer-*,readability-*,modernize-*,bugprone-*,misc-*,google-runtime-int,llvm-header-guard,readability-magic-numbers,-readability-magic-numbers,-readability-braces-around-statements,-clang-analyzer-core.CallAndMessage'
WarningsAsErrors:   '*'
HeaderFilterRegex:  '.*'
FormatStyle:        'file'
CheckOptions:
  - key:            readability-identifier-naming.EnumCase
    value:          CamelCase
  - key:            readability-identifier-naming.EnumConstantCase
    value:          CamelCase
  - key:            readability-identifier-naming.EnumConstantPrefix
    value:          k
  # - key:            readability-identifier-naming.FunctionCase
  #   value:          CamelCase
  - key:            readability-identifier-naming.GlobalConstantCase
    value:          CamelCase
  - key:            readability-identifier-naming.GlobalConstantPrefix
    value:          k
  - key:            readability-identifier-naming.StaticConstantCase
    value:          CamelCase
  - key:            readability-identifier-naming.StaticConstantPrefix
    value:          k
  - key:            readability-identifier-naming.MacroDefinitionCase
    value:          UPPER_CASE
  - key:            readability-identifier-naming.MacroDefinitionIgnoreRegexp
    value:          '*_EXPORTS'
  # - key:            readability-identifier-naming.ParameterCase
  #   value:          lower_case
  - key:            readability-identifier-naming.TypeAliasCase
    value:          CamelCase
  - key:            readability-identifier-naming.TypedefCase
    value:          CamelCase
  # - key:            readability-identifier-naming.VariableCase
  #   value:          lower_case
  - key:            readability-identifier-naming.IgnoreMainLikeFunctions
    value:          1
---
